body {
  background-color: black !important;
}

h2 {
  color: white !important;
}

.app {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}
