.gray {
    background-color: #636466;
}

.green {
    background-color: #2e6337;
}

.lime {
    background-color: #7f9530;
}

.blue {
    background-color: #67a1e0;
}

.purple {
    background-color: #682f8e;
}

.azure {
    background-color: #392ebb;
}

.blush {
    background-color: #d8677b;
}

.red {
    background-color: #b5392d;
}

.aqua {
    background-color: #81d486;
}

.brown {
    background-color: #774b1a;
}

.coral {
    background-color: #db8f51;
}

.yellow {
    background-color: #ecda6c;
}
